@mixin border-fade {
	$borderWidth : 4px;

	@include prefixed(transition-property,box-shadow);
	@include prefixed(transition-duration,$mediumDuration);
	box-shadow: inset 0 0 0 $borderWidth $primaryColor; 

	&:hover,
	&:active,
	&:focus{
		box-shadow:inset 0 0 0 $borderWidth $activeColor;
	}
}