@mixin radial-in {
	position:relative;
	overflow: hidden;
	background:$activeColor;
	@include prefixed(transform,  translateZ(0));
	@include prefixed(transition-property,color);
	@include prefixed(transition-duration,$mediumDuration);

	&:before{
		content:'';
		position:absolute;
		z-index: -1;
		left:0;
		right:0;
		top:0;
		bottom: 0;
		background:aqua;
		border-radius: 100%;
		@include prefixed(transition-property,transform);
		@include prefixed(transition-duration,$mediumDuration);
		@include prefixed(transition-timing-function,ease-out);
		@include prefixed(transform,scale(2));
	}


	&:hover,
	&:active,
	&:focus{
		color:white;
		box-shadow: $box-shadow;

		&:before{
			@include prefixed(transform,scale(0));
		}
	}
}